@import "./styles/defaults/colors";
@import "./styles/defaults/breakpoints";
@import "./styles/components/header";
@import "./styles/components/footer";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    margin: 0;
    background-color: $primary-background;
    font-family: 'Quicksand', sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details {
    margin: 10px 100px;
    border: 2px solid #9a57ad; /* Set border properties */
    padding: 80px; /* Add some padding for better appearance */
    font-size: 40px; /* Set the desired font size */
    text-align: center;
}

.resume-button {
    margin-top: 40px; /* Adjust the margin-top value as needed */
}

.resume-button .download-button {
    font-size: 40px; /* Adjust the font size as needed */
}

img {
    max-width: 50%; /* Ensure images don't exceed their container width */
    height: auto; /* Maintain aspect ratio */
  }

  .main-image {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 70vh; /* Set a specific height for the container, adjust as needed */
  }
  
  /* Styling for the main image inside the container */
  .main-image img {
    /* Add specific styling for the main image if needed */
    border-radius: 10px; /* Example: Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example: Box shadow */
    max-width: 50%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain aspect ratio */
  }

  .logo-name {
    text-align: center; /* Center the content horizontally */
  }
  
  /* Styling for the logo image */
  .logo-name img {
    border-radius: 50%; /* Make the image circular */
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain aspect ratio */
  }

  